<h1>All Courses</h2><br>
<div>
<% if !@courses.empty? %>
    <% @courses.each do |course| %>
        <h3><%= link_to course.title, course %></h3>
        <p><%= course.subject_with_number %></p>
        <hr>
    <% end %>
<% else %>
    <h3>No Courses Listed</h3>
<% end %>
<% if !@teacher_session %>
    <%= button_to "Register for Courses", {controller: :courses, action: :registration}, method: :get %>
<% end %>
</div>