<h1>Course Registration</h1>    
<%= form_for @registration, url: register_path do |f| %>
    <%= f.label :course %>
    <%= f.collection_select :course_id, @courses, :id, :number_with_title %>
    <%= f.submit "Register" %>
<% end %>