<h3><%= @course.title %></h3>
<h4><%= "#{@course.subject} - #{@course.number}" %></h4>
<h4>Taught By: <%= link_to @teacher.name, @teacher %>
<br />
<h4>Lectures</h4>
<% if !@lectures.empty? %> <!-- This needs to be moved to the model -->
    <ul>
    <% @lectures.each do |lecture| %>
        <li><%= link_to lecture.title, lecture %></li>
    <% end %>
    </ul>
<% else %>
    <p>No listed lectures</p>
<% end %>